@model MesViewModel

<link href="~/css/A4-Css.css" rel="stylesheet" />

<div class="book">
    <div class="page">
        <div class="subpage">
            <div class="tituloLista">
                <h3>
                    <b style="color: red;">@Model.PregacaoNaSemana.TerritorioLista -</b>
                    Programação de Saídas de Campo de
                    @Model.PregacaoNaSemana.CampoSegunda1.Dia.Day
                    @(Model.PregacaoNaSemana.CampoSegunda1.Dia.Month != Model.PregacaoNaSemana.CampoDomingo.Dia.Month ? "de " + @Calendario.Meses[Model.PregacaoNaSemana.CampoSegunda1.Dia.Month] : " ") á
                    @Model.PregacaoNaSemana.CampoDomingo.Dia.Day de
                    @Calendario.Meses[Model.PregacaoNaSemana.CampoDomingo.Dia.Month]
                </h3>
            </div>
            <div class="corpoLista">
                <div class="height-25 primeira-linha">
                    <div class="float-left width-50" style="display:@(Model.PregacaoNaSemana.CampoSegunda2.PossuiCampo?"none":"");">
                        <div class="linha-dados height-5">
                            <div class="float-left width-90">
                                <b>MENSAL - @Calendario.Meses[Model.PregacaoNaSemana.CampoDomingo.Dia.Month]</b>
                            </div>
                        </div>
                        <div class="linha-campo-qs">
                                <table class="calendario" border="1">
                                    <thead>
                                        <tr><td>D</td><td>S</td><td>T</td><td>Q</td><td>Q</td><td>S</td><td>S</td></tr>
                                    </thead>
                                    <tbody>
                                        <tr id="week1">
                                            @foreach (var item in Model.Semana1)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        <tr id="week2">
                                            @foreach (var item in Model.Semana2)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        <tr id="week3">
                                            @foreach (var item in Model.Semana3)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        <tr id="week4">
                                            @foreach (var item in Model.Semana4)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        <tr id="week5">
                                            @foreach (var item in Model.Semana5)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        <tr id="week6">
                                            @if (Model.Semana6 != null)
                                            {
                                                foreach (var item in Model.Semana6)
                                                {
                                                    if (item != null)
                                                    {
                                                        if (item.diaColuna == 0 || item.diaColuna == 6)
                                                        {
                                                            <td class="weekend">
                                                                <a id="@item.dateStr"
                                                                   class="dt"><h3>@item.dtDia</h3></a>
                                                            </td>
                                                        }
                                                        else if (item.Data != DateTime.Today)
                                                        {
                                                            <td>
                                                                <a id="@item.dateStr"
                                                                   class="dt"><h3>@item.dtDia</h3></a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="selected">
                                                                <a id="@item.dateStr"
                                                                   class="dt"><h3>@item.dtDia</h3></a>
                                                            </td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                }
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="float-left width-50" style="display:@(Model.PregacaoNaSemana.CampoSegunda2.PossuiCampo?"":"none");">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>@Model.PregacaoNaSemana.CampoSegunda1.Dia.Day/SEGUNDA </b><b class="horario">@Model.PregacaoNaSemana.CampoSegunda1.Horario</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSegunda1.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoSegunda1.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSegunda1.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoSegunda1.Local</b>
                            </div>
                        </div>
                        <div class="border-top-2px">
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSegunda2.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoSegunda2.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSegunda2.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoSegunda2.Local</b>
                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td>D</td>
                                        <td class="ativo">S</td>
                                        <td>T</td>
                                        <td>Q</td>
                                        <td>Q</td>
                                        <td>S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="float-left width-50 border-left">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>@Model.PregacaoNaSemana.CampoTerca1.Dia.Day/TERÇA @Model.PregacaoNaSemana.CampoTerca1.Horario</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoTerca1.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoTerca1.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoTerca1.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoTerca1.Local</b>
                            </div>
                        </div>
                        <div class="border-top-2px">
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoTerca2.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoTerca2.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoTerca2.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoTerca2.Local</b>
                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td>D</td>
                                        <td>S</td>
                                        <td class="ativo">T</td>
                                        <td>Q</td>
                                        <td>Q</td>
                                        <td>S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="height-25 primeira-linha">
                    <div class="float-left width-50">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>@Model.PregacaoNaSemana.CampoQuarta1.Dia.Day/QUARTA </b><b class="horario">@Model.PregacaoNaSemana.CampoQuarta1.Horario</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuarta1.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoQuarta1.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuarta1.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoQuarta1.Local</b>
                            </div>
                        </div>
                        <div class="border-top-2px">
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuarta2.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoQuarta2.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuarta2.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoQuarta2.Local</b>
                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td>D</td>
                                        <td>S</td>
                                        <td>T</td>
                                        <td class="ativo">Q</td>
                                        <td>Q</td>
                                        <td>S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="float-left width-50 border-left">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>@Model.PregacaoNaSemana.CampoQuinta1.Dia.Day/QUINTA </b><b class="horario">@Model.PregacaoNaSemana.CampoQuinta1.Horario</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuinta1.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoQuinta1.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuinta1.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoQuinta1.Local</b>
                            </div>
                        </div>
                        <div class="border-top-2px">
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuinta2.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoQuinta2.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuinta2.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoQuinta2.Local</b>
                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td>D</td>
                                        <td>S</td>
                                        <td>T</td>
                                        <td>Q</td>
                                        <td class="ativo">Q</td>
                                        <td>S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="height-25 primeira-linha">
                    <div class="float-left width-50">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>@Model.PregacaoNaSemana.CampoSexta1.Dia.Day/SEXTA </b><b class="horario">@Model.PregacaoNaSemana.CampoSexta1.Horario</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSexta1.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoSexta1.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSexta1.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoSexta1.Local</b>
                            </div>
                        </div>
                        <div class="border-top-2px">
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSexta2.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoSexta2.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSexta2.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoSexta2.Local</b>
                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td>D</td>
                                        <td>S</td>
                                        <td>T</td>
                                        <td>Q</td>
                                        <td>Q</td>
                                        <td class="ativo">S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="float-left width-50 border-left">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>@Model.PregacaoNaSemana.CampoDomingo.Dia.Day/DOMINGO </b><b class="horario">@Model.PregacaoNaSemana.CampoDomingo.Horario</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b>Responsável:@Model.PregacaoNaSemana.CampoDomingo.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b>Local:@Model.PregacaoNaSemana.CampoDomingo.Local</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">

                            </div>
                            <div class="linha-dados padding-top-left-5px">

                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td class="ativo">D</td>
                                        <td>S</td>
                                        <td>T</td>
                                        <td>Q</td>
                                        <td>Q</td>
                                        <td>S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="height-25">
                    <div class="float-left width-50" style="width: 33% !important;">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>@Model.PregacaoNaSemana.CampoSabado1.Dia.Day/SABADO</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px">
                                <b class="">1</b>
                            </div>
                        </div>
                        <div class="linha-dados padding-top-left-5px">
                            <b>Responsável:</br>@Model.PregacaoNaSemana.CampoSabado1.Dirigente</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>@Model.PregacaoNaSemana.CampoSabado1.Horario</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>Local:@Model.PregacaoNaSemana.CampoSabado1.Local</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px">

                        </div>
                    </div>
                    <div class="float-left width-50 border-left" style="width: 33% !important;">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>@Model.PregacaoNaSemana.CampoSabado1.Dia.Day/SABADO</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px">
                                <b class="">2</b>
                            </div>
                        </div>
                        <div class="linha-dados padding-top-left-5px">
                            <b>Responsável:</br>@Model.PregacaoNaSemana.CampoSabado2.Dirigente</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>@Model.PregacaoNaSemana.CampoSabado2.Horario</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>Local:@Model.PregacaoNaSemana.CampoSabado2.Local</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px">

                        </div>
                    </div>
                    <div class="float-left width-50 border-left" style="width: 33% !important;">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>@Model.PregacaoNaSemana.CampoSabado1.Dia.Day/SABADO</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px">
                                <b class="">3</b>
                            </div>
                        </div>
                        <div class="linha-dados padding-top-left-5px">
                            <b>Responsável:</br>@Model.PregacaoNaSemana.CampoSabado3.Dirigente</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>@Model.PregacaoNaSemana.CampoSabado3.Horario</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>Local:@Model.PregacaoNaSemana.CampoSabado3.Local</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px">

                        </div>
                    </div>


                    @* CALENDARIO *@
                    <div class="linha-dados height-5" style="display:none;">
                        <div class="float-left width-90">
                            <b>MENSAL - @Calendario.Meses[Model.PregacaoNaSemana.CampoDomingo.Dia.Month]</b>
                        </div>
                    </div>
                    @*<div class="linha-campo-qs" style="display:none;">
                            <table class="calendario" border="1">
                                <thead>
                                    <tr><td>D</td><td>S</td><td>T</td><td>Q</td><td>Q</td><td>S</td><td>S</td></tr>
                                </thead>
                                <tbody>
                                    <tr id="week1">
                                        @foreach (var item in Model.Semana1)
                                        {
                                            if (item != null)
                                            {
                                                if (item.diaColuna == 0 || item.diaColuna == 6)
                                                {
                                                    <td class="weekend">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else if (item.Data != DateTime.Today)
                                                {
                                                    <td>
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="selected">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                    <tr id="week2">
                                        @foreach (var item in Model.Semana2)
                                        {
                                            if (item != null)
                                            {
                                                if (item.diaColuna == 0 || item.diaColuna == 6)
                                                {
                                                    <td class="weekend">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else if (item.Data != DateTime.Today)
                                                {
                                                    <td>
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="selected">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                    <tr id="week3">
                                        @foreach (var item in Model.Semana3)
                                        {
                                            if (item != null)
                                            {
                                                if (item.diaColuna == 0 || item.diaColuna == 6)
                                                {
                                                    <td class="weekend">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else if (item.Data != DateTime.Today)
                                                {
                                                    <td>
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="selected">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                    <tr id="week4">
                                        @foreach (var item in Model.Semana4)
                                        {
                                            if (item != null)
                                            {
                                                if (item.diaColuna == 0 || item.diaColuna == 6)
                                                {
                                                    <td class="weekend">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else if (item.Data != DateTime.Today)
                                                {
                                                    <td>
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="selected">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                    <tr id="week5">
                                        @foreach (var item in Model.Semana5)
                                        {
                                            if (item != null)
                                            {
                                                if (item.diaColuna == 0 || item.diaColuna == 6)
                                                {
                                                    <td class="weekend">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else if (item.Data != DateTime.Today)
                                                {
                                                    <td>
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="selected">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                    <tr id="week6">
                                        @if (Model.Semana6 != null)
                                        {
                                            foreach (var item in Model.Semana6)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>*@

                </div>
            </div>
        </div>
    </div>
</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
