@model MesViewModel

<link href="~/css/A4-Css.css" rel="stylesheet" />

<div class="book">
    <div class="page">
        <div class="subpage">
            <div class="tituloLista">
                <h3>
                    <b style="color: red;">ALTERAR -</b>
                    Programação de Saídas de Campo de
                    @Model.PregacaoNaSemana.CampoSegundaItaim.Dia.Day
                    @(Model.PregacaoNaSemana.CampoSegundaItaim.Dia.Month != Model.PregacaoNaSemana.CampoDomingo.Dia.Month ? "de " + @Calendario.Meses[Model.PregacaoNaSemana.CampoSegundaItaim.Dia.Month] : " ") á
                    @Model.PregacaoNaSemana.CampoDomingo.Dia.Day de
                    @Calendario.Meses[Model.PregacaoNaSemana.CampoDomingo.Dia.Month]
                </h3>
            </div>
            <div class="corpoLista">
                <div class="height-25 primeira-linha">
                    <div class="float-left width-50" style="display:@(Model.PregacaoNaSemana.CampoSegundaFerraz.PossuiCampo?"none":"");">
                        <div class="linha-dados height-5">
                            <div class="float-left width-90">
                                <b>MENSAL - @Calendario.Meses[Model.PregacaoNaSemana.CampoDomingo.Dia.Month]</b>
                            </div>
                        </div>
                        <div class="linha-campo-qs">
                                <table class="calendario" border="1">
                                    <thead>
                                        <tr><td>D</td><td>S</td><td>T</td><td>Q</td><td>Q</td><td>S</td><td>S</td></tr>
                                    </thead>
                                    <tbody>
                                        <tr id="week1">
                                            @foreach (var item in Model.Semana1)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        <tr id="week2">
                                            @foreach (var item in Model.Semana2)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        <tr id="week3">
                                            @foreach (var item in Model.Semana3)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        <tr id="week4">
                                            @foreach (var item in Model.Semana4)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        <tr id="week5">
                                            @foreach (var item in Model.Semana5)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        <tr id="week6">
                                            @if (Model.Semana6 != null)
                                            {
                                                foreach (var item in Model.Semana6)
                                                {
                                                    if (item != null)
                                                    {
                                                        if (item.diaColuna == 0 || item.diaColuna == 6)
                                                        {
                                                            <td class="weekend">
                                                                <a id="@item.dateStr"
                                                                   class="dt"><h3>@item.dtDia</h3></a>
                                                            </td>
                                                        }
                                                        else if (item.Data != DateTime.Today)
                                                        {
                                                            <td>
                                                                <a id="@item.dateStr"
                                                                   class="dt"><h3>@item.dtDia</h3></a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="selected">
                                                                <a id="@item.dateStr"
                                                                   class="dt"><h3>@item.dtDia</h3></a>
                                                            </td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                }
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="float-left width-50" style="display:@(Model.PregacaoNaSemana.CampoSegundaFerraz.PossuiCampo?"":"none");">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>SEGUNDA/@Model.PregacaoNaSemana.CampoSegundaItaim.Dia.Day - 09:00</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px bc-@Model.PregacaoNaSemana.CampoTercaItaim.Mapa.ToLower()">
                                <b class="" style="display:@(Model.PregacaoNaSemana.CampoSegundaItaim.PossuiCampo?"":"none");">@Model.PregacaoNaSemana.CampoSegundaItaim.Mapa</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSegundaItaim.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoSegundaItaim.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSegundaItaim.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoSegundaItaim.Local</b>
                            </div>
                        </div>
                        <div class="border-top-2px">
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSegundaFerraz.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoSegundaFerraz.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSegundaFerraz.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoSegundaFerraz.Local</b>
                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td>D</td>
                                        <td class="ativo">S</td>
                                        <td>T</td>
                                        <td>Q</td>
                                        <td>Q</td>
                                        <td>S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="float-left width-50 border-left">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>TERÇA/@Model.PregacaoNaSemana.CampoTercaItaim.Dia.Day - 14:00</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px bc-@Model.PregacaoNaSemana.CampoTercaItaim.Mapa.ToLower()">
                                <b class="" style="display:@(Model.PregacaoNaSemana.CampoTercaItaim.PossuiCampo && Model.PregacaoNaSemana.CampoTercaFerraz.PossuiCampo ?"":"none");">@Model.PregacaoNaSemana.CampoTercaItaim.Mapa</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoTercaItaim.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoTercaItaim.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoTercaItaim.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoTercaItaim.Local</b>
                            </div>
                        </div>
                        <div class="border-top-2px">
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoTercaFerraz.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoTercaFerraz.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoTercaFerraz.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoTercaFerraz.Local</b>
                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td>D</td>
                                        <td>S</td>
                                        <td class="ativo">T</td>
                                        <td>Q</td>
                                        <td>Q</td>
                                        <td>S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="height-25 primeira-linha">
                    <div class="float-left width-50">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>QUARTA/@Model.PregacaoNaSemana.CampoQuartaItaim.Dia.Day - 09:00</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px bc-@Model.PregacaoNaSemana.CampoQuartaItaim.Mapa.ToLower()">
                                <b class="" style="display:@(Model.PregacaoNaSemana.CampoQuartaItaim.PossuiCampo && Model.PregacaoNaSemana.CampoQuartaFerraz.PossuiCampo?"":"none");">@Model.PregacaoNaSemana.CampoQuartaItaim.Mapa</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuartaItaim.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoQuartaItaim.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuartaItaim.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoQuartaItaim.Local</b>
                            </div>
                        </div>
                        <div class="border-top-2px">
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuartaFerraz.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoQuartaFerraz.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuartaFerraz.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoQuartaFerraz.Local</b>
                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td>D</td>
                                        <td>S</td>
                                        <td>T</td>
                                        <td class="ativo">Q</td>
                                        <td>Q</td>
                                        <td>S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="float-left width-50 border-left">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>QUINTA/@Model.PregacaoNaSemana.CampoQuintaItaim.Dia.Day - 09:00</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px bc-@Model.PregacaoNaSemana.CampoQuintaItaim.Mapa.ToLower()">
                                <b class="" style="display:@(Model.PregacaoNaSemana.CampoQuintaItaim.PossuiCampo && Model.PregacaoNaSemana.CampoQuintaFerraz.PossuiCampo?"":"none");">@Model.PregacaoNaSemana.CampoQuintaItaim.Mapa</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuintaItaim.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoQuintaItaim.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuintaItaim.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoQuintaItaim.Local</b>
                            </div>
                        </div>
                        <div class="border-top-2px">
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuintaFerraz.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoQuintaFerraz.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoQuintaFerraz.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoQuintaFerraz.Local</b>
                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td>D</td>
                                        <td>S</td>
                                        <td>T</td>
                                        <td>Q</td>
                                        <td class="ativo">Q</td>
                                        <td>S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="height-25 primeira-linha">
                    <div class="float-left width-50">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>SEXTA/@Model.PregacaoNaSemana.CampoSextaItaim.Dia.Day - 09:00</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px bc-@Model.PregacaoNaSemana.CampoSextaItaim.Mapa.ToLower()">
                                <b class="" style="display:@(Model.PregacaoNaSemana.CampoSextaItaim.PossuiCampo && Model.PregacaoNaSemana.CampoSextaFerraz.PossuiCampo?"":"none");">@Model.PregacaoNaSemana.CampoSextaItaim.Mapa</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSextaItaim.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoSextaItaim.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSextaItaim.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoSextaItaim.Local</b>
                            </div>
                        </div>
                        <div class="border-top-2px">
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSextaFerraz.PossuiCampo?"":"none");">Responsável:@Model.PregacaoNaSemana.CampoSextaFerraz.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b style="display:@(Model.PregacaoNaSemana.CampoSextaFerraz.PossuiCampo?"":"none");">Local:@Model.PregacaoNaSemana.CampoSextaFerraz.Local</b>
                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td>D</td>
                                        <td>S</td>
                                        <td>T</td>
                                        <td>Q</td>
                                        <td>Q</td>
                                        <td class="ativo">S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="float-left width-50 border-left">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>DOMINGO/@Model.PregacaoNaSemana.CampoDomingo.Dia.Day - 11:45</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px bc-@Model.PregacaoNaSemana.CampoDomingo.Mapa.ToLower()">
                                <b class="">@Model.PregacaoNaSemana.CampoDomingo.Mapa</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">
                                <b>Responsável:@Model.PregacaoNaSemana.CampoDomingo.Dirigente</b>
                            </div>
                            <div class="linha-dados padding-top-left-5px">
                                <b>Local:@Model.PregacaoNaSemana.CampoDomingo.Local</b>
                            </div>
                        </div>
                        <div>
                            <div class="linha-dados padding-top-left-5px">

                            </div>
                            <div class="linha-dados padding-top-left-5px">

                            </div>
                        </div>
                        <div class="linha-dados linha-dados-calendario">
                            <table class="table-semana" border="1">
                                <tbody>
                                    <tr>
                                        <td class="ativo">D</td>
                                        <td>S</td>
                                        <td>T</td>
                                        <td>Q</td>
                                        <td>Q</td>
                                        <td>S</td>
                                        <td>S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="height-25">
                    <div class="float-left width-50" style="width: 33% !important;">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>SABADO/@Model.PregacaoNaSemana.CampoSabado1.Dia.Day</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px">
                                <b class="">1</b>
                            </div>
                        </div>
                        <div class="linha-dados padding-top-left-5px">
                            <b>Responsável:</br>@Model.PregacaoNaSemana.CampoSabado1.Dirigente</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>09:10</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>Local:@Model.PregacaoNaSemana.CampoSabado1.Local</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px">

                        </div>
                    </div>
                    <div class="float-left width-50 border-left" style="width: 33% !important;">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>SABADO/@Model.PregacaoNaSemana.CampoSabado1.Dia.Day</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px">
                                <b class="">2</b>
                            </div>
                        </div>
                        <div class="linha-dados padding-top-left-5px">
                            <b>Responsável:</br>@Model.PregacaoNaSemana.CampoSabado2.Dirigente</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>15:00</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>Local:@Model.PregacaoNaSemana.CampoSabado2.Local</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px">

                        </div>
                    </div>
                    <div class="float-left width-50 border-left" style="width: 33% !important;">
                        <div class="linha-dados padding-top-left-5px">
                            <div class="float-left width-90">
                                <b>SABADO/@Model.PregacaoNaSemana.CampoSabado1.Dia.Day</b>
                            </div>
                            <div class="float-left width-10 textAlign-center borderRadius-5px height-28px">
                                <b class="">3</b>
                            </div>
                        </div>
                        <div class="linha-dados padding-top-left-5px">
                            <b>Responsável:</br>@Model.PregacaoNaSemana.CampoSabado3.Dirigente</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>15:00</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px" style="padding-top: 30px;">
                            <b>Local:@Model.PregacaoNaSemana.CampoSabado3.Local</b>
                        </div>
                        <div class="linha-dados padding-top-left-5px">

                        </div>
                    </div>


                    @* CALENDARIO *@
                    <div class="linha-dados height-5" style="display:none;">
                        <div class="float-left width-90">
                            <b>MENSAL - @Calendario.Meses[Model.PregacaoNaSemana.CampoDomingo.Dia.Month]</b>
                        </div>
                    </div>
                    @*<div class="linha-campo-qs" style="display:none;">
                            <table class="calendario" border="1">
                                <thead>
                                    <tr><td>D</td><td>S</td><td>T</td><td>Q</td><td>Q</td><td>S</td><td>S</td></tr>
                                </thead>
                                <tbody>
                                    <tr id="week1">
                                        @foreach (var item in Model.Semana1)
                                        {
                                            if (item != null)
                                            {
                                                if (item.diaColuna == 0 || item.diaColuna == 6)
                                                {
                                                    <td class="weekend">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else if (item.Data != DateTime.Today)
                                                {
                                                    <td>
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="selected">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                    <tr id="week2">
                                        @foreach (var item in Model.Semana2)
                                        {
                                            if (item != null)
                                            {
                                                if (item.diaColuna == 0 || item.diaColuna == 6)
                                                {
                                                    <td class="weekend">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else if (item.Data != DateTime.Today)
                                                {
                                                    <td>
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="selected">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                    <tr id="week3">
                                        @foreach (var item in Model.Semana3)
                                        {
                                            if (item != null)
                                            {
                                                if (item.diaColuna == 0 || item.diaColuna == 6)
                                                {
                                                    <td class="weekend">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else if (item.Data != DateTime.Today)
                                                {
                                                    <td>
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="selected">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                    <tr id="week4">
                                        @foreach (var item in Model.Semana4)
                                        {
                                            if (item != null)
                                            {
                                                if (item.diaColuna == 0 || item.diaColuna == 6)
                                                {
                                                    <td class="weekend">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else if (item.Data != DateTime.Today)
                                                {
                                                    <td>
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="selected">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                    <tr id="week5">
                                        @foreach (var item in Model.Semana5)
                                        {
                                            if (item != null)
                                            {
                                                if (item.diaColuna == 0 || item.diaColuna == 6)
                                                {
                                                    <td class="weekend">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else if (item.Data != DateTime.Today)
                                                {
                                                    <td>
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="selected">
                                                        <a id="@item.dateStr"
                                                           class="dt"><h3>@item.dtDia</h3></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                    <tr id="week6">
                                        @if (Model.Semana6 != null)
                                        {
                                            foreach (var item in Model.Semana6)
                                            {
                                                if (item != null)
                                                {
                                                    if (item.diaColuna == 0 || item.diaColuna == 6)
                                                    {
                                                        <td class="weekend">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else if (item.Data != DateTime.Today)
                                                    {
                                                        <td>
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="selected">
                                                            <a id="@item.dateStr"
                                                               class="dt"><h3>@item.dtDia</h3></a>
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>*@

                </div>
            </div>
        </div>
    </div>
</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
